# Virtual environment files
*_venv

# Pycache
__pycache__

# Log files
*.log

# temporary files
tmp/*

# Local tests
test_*.py

# Distribution / packaging
*.egg-info
build/
dist/
*.spec

# vscode
.vscode/*